* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
a {
  text-decoration: none;
}  
  .chat-side {
    background-color: #253141;
    height: 100vh;
    width: 300px;
    .side-header {
      height: 100px;
      padding: 0 20px;
      color: white;
      display: flex;
      align-items: center;
      &__box {
        width: 260px;
        height: 20px;
        display: flex;
        justify-content: space-between;
        &__username {
          font-size: 16px;
          color :#ffffff;
          font-weight: bold;
        }
        &__menu {
          display: flex;
          a{
            color: white;
          }     
        } 
          &__new-group{
            margin-left: 5px;
          } 
      }
    }  
    .groups {
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      padding: 20px 20px;
      .group {
        color: white;
        text-decoration: none;
        margin-bottom: 40px;
        &__group-name {
          font-weight: bold;
          color: #ffffff;
          font-size: 15px;
          margin-bottom: 5px;
        }
        &__latest-message {
          font-weight: bold;
          color: #ffffff;
          font-size: 11px;
        }
      }  
    }
  }  


  .chat-main {
    background-color: #ffffff;
    height: 100vh;
    width: calc(100vw - 300px);
    .main-header {
      height: 100px;
      background-color: #ffffff;
      border-bottom: 1px solid #eeeeee;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      .main-header__left-box{
        padding-top: 35px;
        h2{
          color: #333333;
          font-size: 20px;
          }
        .main-header__users{
            display: flex;
            font-size: 12px;
            color: #999999;
            margin-top: 15px;
            &__member-name {
              margin-left: 5px;
            }
          }
      }
      .main-header__edit-btn {
        color: #38aef0;
        text-decoration: none;
        height: 99px;
        line-height: 99px;
        padding: 11px 20px;
        margin-top: 28px;
        border: solid 1px #38aef0;
        font-size: 16px;
      }
    }
    .messages {
      background-color: #fafafa;
      height: calc(100vh - 190px);
      padding-top: 35px;
      padding-left: 40px;
      overflow: scroll;
      
      .upper-message {
        display: flex;
        &__user-name {
          color: #333333;
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 12px;
        }
        &__date {
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      .lower-message__content {
        color: #434A54;
        font-size: 14px;
        margin-bottom: 46px;
      }
    }
    
    .message-form {
      height: 90px;
      background-color: #d2d2d2;
      display: flex;
      align-items: center;
    }
    
    .new-message {
      display:flex;
      width: 100%;
      height: 50px;
      &__send-btn {
        height: 50px;
        width: 100px;
        border-style: none;
        margin: 0 40px 0 15px;
        cursor: pointer;
        color: white;
        background-color: #00bfff;
      }
    }

    .input-wrapper{
      display: flex;
      width: calc(100% - 195px);
      margin-left: 40px;
      position: relative;
      &__input-message {
        width: 100%;
        padding-left: 10px;
      }
      &__img-btn {
        position: absolute;
        top: 15px;
        right: 10px;
        margin-right: 10px;
        cursor: pointer;
        
        
        &__file{
          display: none;
        }
      }
    }
  }
}

